<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <jsp-config>
        <jsp-property-group>
            <url-pattern>*.jsp</url-pattern>
            <page-encoding>UTF-8</page-encoding>
        </jsp-property-group>
    </jsp-config>
    <filter>
        <filter-name>EncodeFilter</filter-name>
        <filter-class>filters.EncodeFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>EncodeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>controllers_backup.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SignupController</servlet-name>
        <servlet-class>controllers_backup.SignupController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserDetailController</servlet-name>
        <servlet-class>controller.UserDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>controllers_backup.UpdateUserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewProductController</servlet-name>
        <servlet-class>controllers_backup.ViewProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RemoveCartItemController</servlet-name>
        <servlet-class>controllers_backup.RemoveCartItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductDetailController</servlet-name>
        <servlet-class>controllers_backup.ProductDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BuyItemController</servlet-name>
        <servlet-class>controllers_backup.BuyItemController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCartController</servlet-name>
        <servlet-class>controllers_backup.ViewCartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CompleteOrderController</servlet-name>
        <servlet-class>controllers_backup.CompleteOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CreateSpecController</servlet-name>
        <servlet-class>controller.CreateSpecController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderListController</servlet-name>
        <servlet-class>controller.OrderListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderDetailController</servlet-name>
        <servlet-class>controller.OrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChangePasswordController</servlet-name>
        <servlet-class>controller.ChangePasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewUserListController</servlet-name>
        <servlet-class>controllers_backup.ViewUserListController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserDetail</servlet-name>
        <servlet-class>controllers_backup.ManageUserDetail</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ResetPasswordController</servlet-name>
        <servlet-class>controller.ResetPasswordController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaleCodeController</servlet-name>
        <servlet-class>controller.SaleCodeController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderHistoryController</servlet-name>
        <servlet-class>controller.OrderHistoryController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>BillingMailController</servlet-name>
        <servlet-class>controller.BillingMailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UserController</servlet-name>
        <servlet-class>controller.UserController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProductController</servlet-name>
        <servlet-class>controller.ProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CartController</servlet-name>
        <servlet-class>controller.CartController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>OrderChangeStatusController</servlet-name>
        <servlet-class>controller.OrderChangeStatusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageProductController</servlet-name>
        <servlet-class>controller.ManageProductController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ManageUserController</servlet-name>
        <servlet-class>controller.ManageUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>OrderListController</servlet-name>
        <url-pattern>/OrderListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderDetailController</servlet-name>
        <url-pattern>/OrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserDetailController</servlet-name>
        <url-pattern>/UserDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SignupController</servlet-name>
        <url-pattern>/SignupController</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>ProductController</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/UpdateUserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewProductController</servlet-name>
        <url-pattern>/ViewProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RemoveCartItemController</servlet-name>
        <url-pattern>/RemoveCartItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductDetailController</servlet-name>
        <url-pattern>/ProductDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BuyItemController</servlet-name>
        <url-pattern>/BuyItemController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCartController</servlet-name>
        <url-pattern>/ViewCartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CompleteOrderController</servlet-name>
        <url-pattern>/CompleteOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CreateSpecController</servlet-name>
        <url-pattern>/CreateSpecController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChangePasswordController</servlet-name>
        <url-pattern>/ChangePasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewUserListController</servlet-name>
        <url-pattern>/ViewUserListController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserDetail</servlet-name>
        <url-pattern>/ManageUserDetail</url-pattern>
    </servlet-mapping>
    <context-param>
        <param-name>host</param-name>
        <param-value>smtp.gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>port</param-name>
        <param-value>587</param-value>
    </context-param>
    <context-param>
        <param-name>email</param-name>
        <param-value>qbuigiatest123@gmail.com</param-value>
    </context-param>
    <context-param>
        <param-name>name</param-name>
        <param-value>Test</param-value>
    </context-param>
    <context-param>
        <param-name>pass</param-name>
        <param-value>ualb tnok quxo nbum</param-value>
    </context-param>
    <servlet-mapping>
        <servlet-name>ResetPasswordController</servlet-name>
        <url-pattern>/ResetPasswordController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaleCodeController</servlet-name>
        <url-pattern>/SaleCodeController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderHistoryController</servlet-name>
        <url-pattern>/OrderHistoryController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>BillingMailController</servlet-name>
        <url-pattern>/BillingMailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UserController</servlet-name>
        <url-pattern>/UserController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProductController</servlet-name>
        <url-pattern>/ProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CartController</servlet-name>
        <url-pattern>/CartController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>OrderChangeStatusController</servlet-name>
        <url-pattern>/OrderChangeStatusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageProductController</servlet-name>
        <url-pattern>/ManageProductController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ManageUserController</servlet-name>
        <url-pattern>/ManageUserController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
