:root {
    --white-color : #fff;
    --black-color : #000;
    --text-color : #000;
    --border-color:rgba(0,0,0,0.05);
    --price-bg-color:green;
    --red-color:#E11B1E;
	--bg-color:#f5f5f5;
    --success-color:#21BD73;    
}

* {
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}


/* Grid */

.grid {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
}
.grid__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -12px;
    margin-right: -12px;
}
.grid__column-2{
    padding-left: 12px;
    padding-right: 12px;
    width:16.6667%;
}
.grid__column-10{
    padding-left: 12px;
    padding-right: 12px;
    width:83.333%;
}
.grid__column-2-4{
    padding-left: 12px;
    padding-right: 12px;
    width:20%;
}
.grid__column-6{
    padding-left: 12px;
    padding-right: 12px;
    width:50%
}