//Review css
.container__review{
    background-color: #F5F5F7;
    padding: 10px 0;
    width: 90%;
    transform:translateX(5%) ;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.form-review{
transform: translateX(10px);
}
.form-comment__container{
    transform: translateX(3%);
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}
.name-lable{
    font-size: 1.6rem;
    font-weight: 500;
}
.name-lable ,.input-cName{
    display: block;
}
.comment-lable,.pComment{
    display: block;
}
.input-cName::placeholder{
    font-size: 1.6rem;
}
.comment-lable{
    font-size: 1.6rem;
    font-weight: 500;
}
.input-cName{
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
}
.pComment{
    width: 100%;
    height: 100px;
    width: 66vw;
    margin-bottom: 10px;
    resize: none;
}
.pComment::placeholder{
    font-size: 1.6rem;
}
.input__comment-submit{
    height: 40px;
    border-radius: 3px;
    background-color: #0197d6;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 20px;
}
#reviewer-name{
    margin-bottom: 10px;
    line-height: 2rem;
    font-size: 1.6rem;
}
.review__tittle{
    font-size: 3rem;
    font-weight: 700;
    transform: translateX(4%);
    margin: 30px 0 30px;
    
}
.btn__edit-comment{
    left: 6px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    transform: translateX(14%);
    width: 10%;
    height: 20%;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--white-color);
    padding: 15px 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
    cursor: pointer;
/*    border: 1px solid #939393;*/
    display: none;
    
}
.btn__edit-comment:after{
    content: "";
    position: absolute;
    transform: scale(2,2);
    border-width: 20px 10px; 
    border-top: 3px solid var(--white-color);
    border-right: 7px solid transparent;
    right: 2.5px;
    bottom: -4px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    filter:brightness(97%);
}
.btn__edit-comment:hover{
   background-color: #F5F5F5;
}
.btn__edit-comment:hover:after{
    border-top: 3px solid #F5F5F5;
    filter:brightness(100%);
}
.review-list{
    list-style: none;
}
.review-option{
   margin-bottom: 10px;
}
.review-option__item{
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px;
}
.review-option__item:hover{
    color:#0197D6;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .pComment{
        width: 68vw;
    }
    .review-list{
        transform: translateX(-18px);
    }
    .btn__edit-comment{
        width: 14%;
    }
    .reivew-row{
        width: 86.6%;
    }
}
.reivew-row{
    background-color: var(--white-color);
    padding: 10px 30px;
    margin-left: 40px;
    width: 92.6%;
    border-radius: 4px;  
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.review__reviewer-name{
    font-weight: 600;
    font-size: 1.6rem;

}
.review__reviewer-comment{
    font-size: 1.4rem;
}
.reply-form{
    margin-left: 4.5%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
}
.input-reply{
    width: 50%;
    display: block;
    margin-bottom: 10px;
    transform: translateX(-10px);
}
.reply-submit{
    margin-right: 5px;
    margin-left: -10px;
}
.reply-item__container{
    margin-left: 28px;
}
@media screen and (max-width:600px){
    .pComment{
        width: 68vw;
    }
    .review-list{
        transform: translateX(-18px);
    }
    .btn__edit-comment{
        width: 14%;
    }
    .reivew-row{
        width: 86.6%;
    }
}