body {
    overflow-x: hidden;
}

.content-wrapper {
    font-size: 15px;
}

.sticky-footer {
    margin-bottom: 56px;
}

.sticky-footer .content-wrapper {
    min-height: calc(100vh - 56px - 56px);
}

.fixed-nav {
    padding-top: 56px;
}

.content-wrapper {
    min-height: calc(100vh - 56px);
    padding-top: 1rem;
}

.smaller {
    font-size: 1rem;
}

.o-hidden {
    overflow: hidden !important;
}

.z-0 {
    z-index: 0;
}

.z-1 {
    z-index: 1;
}

.content-wrapper {
    overflow-x: hidden;
    background: white;
}

.card-body-icon {
    position: absolute;
    z-index: 0;
    top: -25px;
    right: -25px;
    font-size: 5rem;
    -webkit-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
}

table {
    font-size: 10px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 1;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1200px) {
    .card-columns {
        column-count: 2;
    }
}