/*footer css*/
footer {
    
}

.footer-border {
    border-top: 1px solid #F5F5F9;
    /* margin: 0; */
}

.foot-tittle {
    text-align: center;
    font-size: 1.6rem;
    padding: 0 20px -10px;
    margin-top: 0;
}

.foot-tittle::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.foot-info {
    display: flex;
    justify-content: space-between;
}

.foot-left-info {
    /* left: 0; */
    flex: 1;
    margin-left: 12rem;
}

.foot-left-info__mail {
    display: flex;
    font-size: 1.3rem;
}

.foot-left-info__mail-addres {
    margin-left: 2px;
}

.foot-left-info__mail-icon {}

.foot-left-info__phonenumber {
    display: flex;
    font-size: 1.3rem;
    margin-top: 7px;
}

.foot-left-info__phonenumber i {}

.foot-left-info__phonenumber span {}

.foot-left-info__shop-address {
    display: flex;
    font-size: 1.3rem;
    margin-top: 7px;
}

.foot-right-info {
    /* padding-left: 20px; */
    width: 51.5%;
    /* border-left: 1px solid var(--black-color); */
    display: flex;
}

.foot-right-info__apple-icon {
    font-size: 5.0rem;
}

.foot-right-info__link {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    margin-left: 11rem;
}

.foot-right-info__product {}

.foot-right-info__product-link {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 70px;
    font-size: 1.4rem;
}

.foot-right-info__policy {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.foot-right-info__policy-link {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 100px;
    padding-right: 0;
    font-size: 1.4rem;
}
@media screen and (max-width:700px){
    .foot-right-info__link{
        margin-left: 0;
    }
    .foot-left-info {
    /* left: 0; */
   
    margin-left: 0;
    }
    
}