/* Filter */
.app__container{
    background-color: #F5F5F5;
    padding-bottom: 10px;
/*    padding-bottom: 84px;*/
}
.app__content{
    padding-top: 36px;
}
.category{
    border-radius: 2px;
    background-color: var(--white-color);
    margin-top: 10px;
}
.category__heading{
    color: var(--text-color);
    font: 1.7rem;
    padding:12px 16px;
    border-bottom:1px solid rgba(0,0,0,0.05);
    margin-top: 0;
}
.category__heading-icon{

    font-size: 1.4rem;
    margin-right: 4px;
    top :-1px;
    position: relative;

}
.category-list{
    padding: 0 0 8px 0;
    list-style: none;
    margin-left:9px ;
}
.category__item-active .category__item-link{
    color: var(--primary-color);
}
.category__item-active .category__item-link::before{
    content: "";
    top :50%;
    left: 7px;
    position: absolute;
    border: 4px solid;
    transform: translateY(calc(-50% - 1px));
    border-color:  transparent transparent transparent var(--primary-color);
}

.category__item-link{
    position: relative;
    font-size: 1.4rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 4px 16px;
    display: block;
    transition: right linear 0.1s;
    right: 0;
}
.category-item{

}
.category__item-link:hover{
    right:-4px;
    color: var(--primary-color);
}
.filter{
    display: flex;
    flex-direction: column;

}
.filter-option__lable{
    padding: 4px 16px;
    font-size: 1.4rem;
}
#filter-option{
    margin-left: 16px;
    width:50%;
}
/* User Profile css */
.page__user-profile{
    height: 100%;
}
.container__user-profile{
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #F5F5F5;
    display: flex;
    height: 90%;
}
.frame__user-profile{
    display: flex;
    flex-direction: column;
    background-color: var();
    margin: auto;
    width:65%;
    background-color: var(--white-color);
    padding: 30px 0;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 3px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}

.tittle__user-profile{
    margin: auto;
    padding-top: 20px;
    font-size:3rem;
    margin-bottom: 20px;    
}
.notify-update{
    text-align: left;
    font-size: 1.6rem;
    background-color:#dff0d8;
    line-height: 4rem;
    color: #21BD73;
    width: 80%;
    transform: translateX(12%);
    border-radius: 3px;
    padding: 10px;
}
.form__user-profile{
    margin: auto;
    margin-top: 30px;
    width: 80%;
}
.user-infor{
    display: flex;
    margin-top: 2rem;
}
.full-name__input{
    outline: none;
    cursor: auto;
}
.address__input{
    outline: none;
    cursor: auto;
}
.tittle__user-profile{
    font-size: 4rem;
}
.input__user-profile{
    flex:1;
    font-size: 1.6rem;
    line-height: 3rem;
}
.user-infor__tittle{
    min-width: 120px;
    margin: 0;
    font-size: 1.7rem;
    transform: translateY(10px);
}
.button-update{
    width:41%;
    margin: auto;
    margin-top: 2rem;
    transform: translateX(44%);
    font-size: 1.6rem;
}
.link-resPass{
    text-align: center;
    display: block;
    text-decoration: none;
    color: var(--black-color);
}
.link-update{
    text-decoration: none;
    color: var(--text-color);
}
/* End User Profile css */

/* Product list */
.home__product{
    position: relative;
}
.home__product-item{
    background-color: var(--white-color);
    margin-top: 10px;
    transition: .3s;
}
.home__product-item:hover{
    box-shadow: 0 0 50px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    z-index: 1;
}
.home__product-item--img{  
    padding-top: 100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;

}
.home__product-item--name{
    font-size: 1.4rem;
    font-weight:400 ;
    color: var(--text-color);
    line-height: 1.8rem;
    height: 3.6rem;
    /* padding:0  10px; */
    margin: 10px 10px 6px ;
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient:vertical;
    -webkit-line-clamp: 2;/*dong co dau ...*/
    /* text-overflow: ellipsis;
    white-space: nowrap; */
}
.home__product-item-link{
    text-decoration: none;
    color: var(--black-color);
    font-size: 1.6rem;
}
.add-cart__icon{
    font-size: 1.6rem;
}
.home__product-item--price{
    display: flex;
    justify-content: space-between;
    margin: auto 10px;
    font-size: 1.4rem;
}
.home__product-add-to-cart--link{
    text-decoration: none;
    color:var(--black-color);
}  
/* Pagination css */
.pagination{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.pagination-item--active .pagination-item__link{
    background-color: var(--white-color);
    color:var(--black-color);
}
.pagination-item{
    margin: 0 8px; 
}
.pagination-item__link{
    --height:30px;
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 2rem;
    color:#939393;
    min-width: 40px;
    height: var(--height);
    line-height: var(--height);
}

.pagination-product__space{
    margin-top: 48px;
/*   margin-bottom: 32px;*/
}
/* Product detail */
input[type="radio"] {
    display: none;
}   
.page__product-detail__body{
    /* background-color: #F5F5F7; */
    background-color: var(--white-color);
}
.page__product-detail{

}
/* .product__right-info{
    padding-top: 20px;

} */
.product-detail{
    margin: 40px auto;
    padding: 40px 0;
    background-color: #F5F5F7;
    width: 80%;
    border-radius: 4px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.05);

}
@media only screen and (max-width: 900px) {
    .product-detail {
        width: 90%;
    }
}

.img__product-container{
    text-align: center;
    height: 100%;
}
.img__product{
    /* transform: translateY(10%); */
    width: 80%;
    border: 1px solid #EEEEEE;
    border-radius: 3px;
    padding: 24px 0;
    background-color: var(--white-color);
    box-shadow: 0 1px 5px 0 #EEEEEE;
}
.tittle__product{
    font-size: 3.5rem;
    margin-top: 10px;
    line-height: 4rem;
    margin-bottom: 20px;
}
.tittle__product::after{
    content: "";
    border-bottom: 1px solid var(--border-color);
    display: block;
    margin: 10px 0;
    width: 50%;
}
.info__product{
    height: 100%;
}
.price__product{
    /* background-color: var(--price-bg-color); */
    width: 30%;
    margin-top: -10px;
    font-size: 3rem;
    color: var(black-color);
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;

}
@media only screen and (max-width: 1065px) {
    .price__product {
        width: 40%;
    }
}
@media only screen and (min-width:1066px)and (max-width: 1261px) {
    .price__product {
        width: 45%;
    }
}

.color-option__container{
    display: flex;
}
 
.label-color {
    color: #333;
    font-family: Arial, sans-serif;
    font-size: 14px;
}
.img-span {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin: -1px 4px 0 0;
    vertical-align: middle;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid #FFFFFF;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
    background-repeat: no-repeat;
    background-position: center;
    text-align: center;
    line-height: 44px;
}
.icon-check {
    opacity: 0; 
    transition: all .3s ease;
}

.input__radio-color:checked + label span i {
    opacity: 1;
}

/* .hardware__product-option{
   display: flex;
   margin-bottom: 20px;
}      
.hardware__product-option-item{
   /* display: flex; */
/* margin-bottom: 30px; 
}  */ 
ul.list-hardware-option li{
     width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}
.list-hardware-option{
    padding-left: 0;
}
.hardware-item{
    margin: 10px 0;
    width: 11vw;
    display: inline-block;
}
.hardware__lable{
    color: var(--black-color);
    font-family: Arial, sans-serif;
    font-size: 14px;
    width: 100%;
}
.hardwar__span{
    height: 40px;
    padding: 10px 20px;
    margin-right: 10px;
    /* vertical-align: middle; */
    cursor: pointer;
    border: 2px solid #F5F5F5;
    background-color: var(--white-color);
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.33);
    border-radius: 4px;
    display: inline-block;
        margin-top:10px ;
        width:90%;
}
.hardwar__span p {
/*    transform: translateX(-14%);*/
    transform: translate(-14%,-6px);
    display: inline-block;
    text-align: center;
    width: 140%;
    margin: 0;
}
@media only screen and (max-width: 1065px) {
    .hardwar__span{
        width: 45%;
    }
}
@media only screen and (min-width:1066px)and (max-width: 1261px) {
    .price__product {
        width: 45%;
    }
}
.input__radio-hardware:checked + label span {
    box-shadow: 0 1px 3px 0 red;
    border-color: red;
}
.input__radio-hardware:hover + label span {
    box-shadow: 0 1px 3px 0 red;
    border-color: red;
}
.description__product{
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    padding-right: 10px;
    margin: 10px auto;
}
.description__product::after{
    content: "";
    border-bottom: 1px solid transparent;
    display: block;
    left: 0;
    margin: 10px 0;
    width: 50%;
}
.form-submit__container{
    margin: 0;
}
.input__submit{
    background-color: var(--red-color);
    border :1px solid var(--red-color);
    margin-top: 20px;
    padding: 10px 10px;
    width: 40%;
    border-radius: 4px;

}
.input__submit:first-child{
    margin-right: 20px;
    background-color: #4580EA;
    border :1px solid #4580EA;
}
.input__submit:hover{
    background-color: var(--white-color);
}
.info__product::after{
    content: "";
    border-bottom: 1px solid var(--border-color);
    display: block;
    width: 50%;
}
/* .description__tittle{
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 600;
} */
.container__description{
    background-color: #F5F5F7;
    width: 90%;
    transform: translateX(5%);    
    border-radius:4px ;
    
}
.description__detail-container{
    padding: 0 10px;
}
.description__detail{
    font-size: 1.8rem;
    line-height: 3rem;
    /* overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
   -webkit-line-clamp: 2; /* number of lines to show */
    /* -webkit-box-orient: vertical;  */
}
        .input-des{
            border: 0px solid;   
            width: 95%;
            height: 200px;
            font-size: 1.6rem;
            margin: 0 10px 10px;
            padding:10px 10px;
            transform: translateX(1.5%);
            overflow: hidden;
            resize: none;           
            border-radius: 2px;
        }
        .input-des:focus{
            outline: none;
        }
        .fadeout {
    position: relative; 
    bottom: 4em;
    height: 3em;
    width: 95%;
    margin: 0 10px;
    padding:10px 10px;
    transform: translateX(1.5%);
    border-bottom-left-radius:  2px;
    border-bottom-right-radius: 2px;
    background: -webkit-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    ); 
    background-image: -moz-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -o-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
    background-image: -ms-linear-gradient(
        rgba(255, 255, 255, 0) 0%,
        rgba(255, 255, 255, 1) 100%
    );
} 
      #ch{
          display: none;
      }
      #la {
            position: absolute;
            top: 100%;
        }
      #la:after{
          content: "Show More";
/*          transform: translateX(50%);*/
          color:#6A7FD9;
          font-size:1.4rem;
          text-align: center;         
          position: absolute;
          left: 31.1vw;         
          bottom:-6px;
          width: 88px;
          height:22px;
      }
        #ch:checked + #la:after {
          content: "Show Less";
          }
        #ch:checked ~ .input-des {
          
        }
        #ch:checked ~  .input-des:after {
            width    : 0;
        }
#more {display: none;}
.click__show-more{
    text-align: center;
    color: rgb(18,24,191);
    font-size: 1.6rem;
    cursor: pointer;
}
.click__show-more-icon{
    margin-top: 1%;
}
.description__tittle{
    text-align: center;
    font-size: 2.5rem;
    padding: 10px auto;

    margin: 0;

}
.description__tittle::before{
    content: "";
    border-top: 1px solid var(--border-color);
    display: block;
    width: 50%;
    transform: translateX(50%);
    margin-bottom: 10px;
    text-align: center;
}
.description__tittle::after{
    content: "";
    border-bottom: 1px solid var(--border-color);
    display: block;
    width: 50%;
    transform: translateX(50%);
    margin-top: 10px;
    text-align: center;
}
.container__description{
    padding-bottom: 20px;
    margin-bottom:40px ;
    margin-top: 40px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
//Review css
.container__review{
    background-color: #F5F5F7;
    padding: 10px 0;
    width: 90%;
    transform:translateX(5%) ;
    margin-bottom: 40px;
    border-radius: 4px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.form-review{
transform: translateX(10px);
}
.form-comment__container{
    transform: translateX(3%);
    display: flex;
    margin-bottom: 10px;
    width: 100%;
}
.name-lable{
    font-size: 1.6rem;
    font-weight: 500;
}
.name-lable ,.input-cName{
    display: block;
}
.comment-lable,.pComment{
    display: block;
}
.input-cName::placeholder{
    font-size: 1.6rem;
}
.comment-lable{
    font-size: 1.6rem;
    font-weight: 500;
}
.input-cName{
    width: 50%;
    height: 40px;
    margin-bottom: 10px;
}
.pComment{
    width: 100%;
    height: 100px;
    width: 66vw;
    margin-bottom: 10px;
    resize: none;
}
.pComment::placeholder{
    font-size: 1.6rem;
}
.input__comment-submit{
    height: 40px;
    border-radius: 3px;
    background-color: #0197d6;
    color: var(--white-color);
    font-size: 1.6rem;
    margin-bottom: 20px;
}
#reviewer-name{
    margin-bottom: 10px;
    line-height: 2rem;
    font-size: 1.6rem;
}
.review__tittle{
    font-size: 3rem;
    font-weight: 700;
    transform: translateX(4%);
    margin: 30px 0 30px;
    
}
.btn__edit-comment{
    left: 6px;
    float: right;
    position: -webkit-sticky;
    position: sticky;
    top:0;
    transform: translateX(14%);
    width: 10%;
    height: 20%;
    font-size: 1.5rem;
    text-align: center;
    background-color: var(--white-color);
    padding: 15px 5px;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    z-index: 1;
    cursor: pointer;
/*    border: 1px solid #939393;*/
    display: none;
    
}
.btn__edit-comment:after{
    content: "";
    position: absolute;
    transform: scale(2,2);
    border-width: 20px 10px; 
    border-top: 3px solid var(--white-color);
    border-right: 7px solid transparent;
    right: 2.5px;
    bottom: -4px;
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
    filter:brightness(97%);
}
.btn__edit-comment:hover{
   background-color: #F5F5F5;
}
.btn__edit-comment:hover:after{
    border-top: 3px solid #F5F5F5;
    filter:brightness(100%);
}
.review-list{
    list-style: none;
}
.review-option{
   margin-bottom: 10px;
}
.review-option__item{
    display: inline;
    font-size: 1.4rem;
    margin-right: 10px;
}
.review-option__item:hover{
    color:#0197D6;
    text-decoration: underline;
    cursor: pointer;
}

@media screen and (max-width:600px){
    .pComment{
        width: 68vw;
    }
    .review-list{
        transform: translateX(-18px);
    }
    .btn__edit-comment{
        width: 14%;
    }
    .reivew-row{
        width: 86.6%;
    }
}
.reivew-row{
    background-color: var(--white-color);
    padding: 10px 30px;
    margin-left: 40px;
    width: 92.6%;
    border-radius: 4px;  
    box-shadow: 0 1px 20px rgba(0, 0, 0, 0.05);
}
.review__reviewer-name{
    font-weight: 600;
    font-size: 1.6rem;

}
.review__reviewer-comment{
    font-size: 1.4rem;
}
.reply-form{
    margin-left: 4.5%;
    margin-bottom: 20px;
    margin-top: 10px;
    display: none;
}
.input-reply{
    width: 50%;
    display: block;
    margin-bottom: 10px;
    transform: translateX(-10px);
}
.reply-submit{
    margin-right: 5px;
    margin-left: -10px;
}
.reply-item__container{
    margin-left: 28px;
}
@media screen and (max-width:600px){
    .pComment{
        width: 68vw;
    }
    .review-list{
        transform: translateX(-18px);
    }
    .btn__edit-comment{
        width: 14%;
    }
    .reivew-row{
        width: 86.6%;
    }
}

/*footer css*/
footer {

}

.footer-border {
    border-top: 1px solid #F5F5F9;
    /* margin: 0; */
}

.foot-tittle {
    text-align: center;
    font-size: 1.6rem;
    padding: 0 20px -10px;
    margin-top: 0;
}

.foot-tittle::after {
    content: "";
    display: block;
    margin: 0 auto;
    width: 50%;
    padding-top: 0px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.foot-info {
    display: flex;
    justify-content: space-between;
}

.foot-left-info {
    /* left: 0; */
    flex: 1;
    margin-left: 12rem;
}

.foot-left-info__mail {
    display: flex;
    font-size: 1.3rem;
}

.foot-left-info__mail-addres {
    margin-left: 2px;
}

.foot-left-info__mail-icon {}

.foot-left-info__phonenumber {
    display: flex;
    font-size: 1.3rem;
    margin-top: 7px;
}

.foot-left-info__phonenumber i {}

.foot-left-info__phonenumber span {}

.foot-left-info__shop-address {
    display: flex;
    font-size: 1.3rem;
    margin-top: 7px;
}

.foot-right-info {
    /* padding-left: 20px; */
    width: 51.5%;
    /* border-left: 1px solid var(--black-color); */
    display: flex;
}

.foot-right-info__apple-icon {
    font-size: 5.0rem;
}

.foot-right-info__link {
    display: flex;
    width: 85%;
    flex-wrap: wrap;
    margin-left: 11rem;
}

.foot-right-info__product {}

.foot-right-info__product-link {
    flex: 1;
    text-decoration: none;
    color: var(--text-color);
    margin-left: 70px;
    font-size: 1.4rem;
}

.foot-right-info__policy {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
}

.foot-right-info__policy-link {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 100px;
    padding-right: 0;
    font-size: 1.4rem;
}
@media screen and (max-width:700px){
    .foot-right-info__link{
        margin-left: 0;
    }
    .foot-left-info {
    /* left: 0; */
   
    margin-left: 0;
    }
    
}
    @media screen and (min-width:501px) and (max-width:800px){
         .button-update{
        transform:translateX(2%); 
         }
        .button-submit{
            
            
            margin-left: 10px;
        }
        .frame__user-profile{
        width: 80%;
        }
    }
 @media screen and (max-width:500px){   
.user-infor__tittle{
        font-size: 1.6rem;
    }
    .frame__user-profile{
        width: 80%;
    }
    .button-update{
        transform:translateX(2%); 
    }
    .button-submit{
        padding: 10px 0;
        transform: translateY(20%);
        margin-left: 10px;
    }
 }