header{
    position: relative;
}
.container__product-detail{
    background-color: var(--bg-color);
    padding: 10px 0;
    display: flex;
    flex-wrap: wrap;
}
.frame__product-detail{
    background-color: var(--white-color);
    width: 70%;
    padding: 10px 0;
    transform: translateX(5%);
    border-radius: 3px;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0 1px 10px rgba(0,0,0,0.5);
}
.form__product-detail{
    display: flex;
    height: 90%;
}
.tittle__product-detail{
    font-size: 3rem;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}
.user-info-left{
    
    text-align: center;
    width: 40%;
   
    
}
.product__img{
    object-fit: contain;
    width:100% ;   
    height: 75%;
}
.user-info-right{
    display: flex;
    flex:1;
}
.product-detail__tittle{
    font-size: 1.6rem;
    min-width: 120px;
  
    font-size: 1.6rem;
}
.file-input{
   width: 50%;
   font-size: 1.5rem;
}
.product-infor{
    display: flex;
    margin-bottom: 10px;
}

.input__product-detail{

    width: 200px;
    height: 30px;
    font-size: 1.5rem;
    margin-right:15px;
}
.button-update{
    margin-left: 10px;
    font-size: 1.7rem;
}
.color-list{
    display: flex;
}
.color-option__container{
    cursor: default;
    position: relative;
    display: flex;
}

.color-list p{
    font-size: 1.5rem;
    margin-right: 80px;
}
    input[type=radio] {
      display: none;
    }
      .label-color {
        color: #333;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }
    .img-span {
          display: inline-block;
          width: 40px;
          height: 40px;
          margin: -1px 4px 0 0;
          vertical-align: middle;
          cursor: pointer;
          border-radius: 50%;
          border: 2px solid #FFFFFF;
          box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
          background-repeat: no-repeat;
          background-position: center;
          text-align: center;
          line-height: 44px;
        }
        .icon-check {
            opacity: 0; 
            transition: all .3s ease;
          }
    .input__radio-color:checked + label span i {
        opacity: 1;
      }
      .option-color:hover .remove-btn{
          display: block;
      }
      .remove-btn{
          position: absolute;
          margin-top: 1px;
          width:70px;
          box-shadow: 0 1px 10px rgba(0,0,0,0.5);
          background-color: var(--bg-color);
          border-radius: 3px;
          z-index: 1;
          text-align: center;
          display: none;
      }
      .remove-btn::after{
          content: "";
          display: block;
          border-style :solid;
         
          left: 10px;
          top:-17px;
          border-width:9px 9px;
          border-color:transparent transparent var(--bg-color) transparent;
          position: absolute;
      }
      .remove-link{
          font-size: 1.4rem;
         text-decoration: none;
          color: var(--black-color);
      }
    /* Hardware css */
      .hardware-list {
          width: 100%;
        display: flex;
      }
      .hardware-tittle{
          margin-right: 50px;
          font-size: 1.5rem;
      }
      ul.list-hardware-option li{
        display: inline;
    position: relative;
    }
    .list-hardware-option{
        width: 100%;
        padding-left: 0;
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
    }
    .hardware-item{
        margin: 10px 0;
        width: 10vw;
    }
    .hardware-item:hover .remove-btn{
        display: block;
    }
    .hardware__lable{
            color: var(--black-color);
            font-family: Arial, sans-serif;
            font-size: 14px;
            width: 100%;
    }
      .hardwar__span{
        height: 50px;
        margin-right: 10px;
        /* vertical-align: middle; */
        cursor: pointer;
        border: 2px solid #F5F5F5;
        background-color: var(--white-color);
        box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.33);
        border-radius: 4px;
        display: inline-block;
        margin-top:10px ;
        width:90%;
    }
    .hardwar__span p {
        margin-top: 4%;
        transform: translateX(-15%);
        display: inline-block;
        text-align: center;
        width: 140%;
    }
    @media only screen and (max-width: 1065px) {
        .hardwar__span{
           width: 45%;
        }
      }
      @media only screen and (min-width:1066px)and (max-width: 1261px) {
        .price__product {
            width: 45%;
        }
      }
      .spec-frame{
        background-color: var(--white-color);
        width: 20%;
        padding: 10px 0;
        transform: translateX(30%);
        border-radius: 3px;
        margin-top: 30px;
        margin-bottom: 30px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
      }
      .spec-tittle{
            text-align: center;
            font-size: 2rem;
            margin: 0;
      }
      .spec-detail__tittle{
          font-size: 1.7rem;

      }
      .spec-infor{
          margin: 0 10px;
          display: flex;
          flex-direction: column;
          margin-bottom: 10px;
      }
      .input__spec-detail{
          flex: 1;
          font-size: 1.7rem;
      }
      .submit-option{
        margin-left: 10px;
        font-size: 1.5rem;
      }
      .frame-discription{
        background-color: var(--white-color);
        padding: 10px 0;
        position: relative;
        width: 93%;
        transform: translateX(3.5%);
        border-radius: 3px;
        margin-top: 20px;
        margin-bottom: 30px;
        box-shadow: 0 1px 10px rgba(0,0,0,0.5);
        padding-bottom: 50px;
        min-height:100px;
      }
      @media screen  and (max-width:600px){
          .input-des{
              width: 400px;
             
          }
      }
       @media screen  and (max-width:1000px){
           .frame__product-detail{
              order: 1;
          }
          .frame-discription{
              order: 2;
          }
         
          .spec-frame{
              order:3;
          }
      }
      .tittle-des{
          font-size: 3rem;
          text-align: center;
        }
        #activate-edit{
            transform: translateX(20%);
            margin: 10px 0;
            font-size: 1.4rem;
            padding: 10px;
        }
        @media screen and (max-width:600px){
            #activate-edit{
            transform: translateX(11%);
                padding: 7px;
            }
            #la:after{
                left: 7.1vw; 
            }
        }
        .input-des{
            border: 0px solid;   
            width: 95%;
            height: 200px;
            font-size: 1.6rem;
            margin: 0 10px 10px;
            padding:10px 10px;
            transform: translateX(2%);
            overflow: hidden;
            resize: none;
            position: relative;
        }
        .input-des:focus{
            outline: none;
        }

                  .fadeout {
        position: relative; 
        bottom: 4em;
        
        width: 95%;
        margin: 0 10px;
        padding:10px 10px;
        transform: translateX(2%);
        border-bottom-left-radius:  2px;
        border-bottom-right-radius: 2px;
        background: -webkit-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        ); 
        background-image: -moz-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -o-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
        background-image: -ms-linear-gradient(
            rgba(255, 255, 255, 0) 0%,
            rgba(255, 255, 255, 1) 100%
        );
}
      #ch{
          display: none;
      }
      #la {
            position: absolute;
            top: 100%;
        }
      #la:after{
          content: "Show More";
/*          transform: translateX(50%);*/
          color:#6A7FD9;
          font-size: 1.6rem;
          text-align: center;         
          position: relative;
          left: 31.1vw;         
          bottom:51px;
      }
        #ch:checked + #la:after {
          content: "Show Less";
          }
        #ch:checked ~ .input-des {
           
            
        }
        #ch:checked ~  .input-des:after {
            width    : 0;
        }
      @media screen and (max-width:1000px) {
        .container__product-detail{
            flex-direction: column;
        }
        .frame__product-detail{
            width: 80%;
            transform: translateX(10%);
        }
        .spec-frame{
            width: 80%;
            transform: translateX(10%);
        }
        .form__product-detail{
            flex-direction:column ;
        }
        .hardwar__span{
            width: 29%;
        }
        .submit-option{
            
            font-size: 1.5rem;
        }
        .user-info-right{
            flex: 0;
            margin-left: 20%;
        }
        .user-info-left{
            align-items: center;
            width: 50%;
            transform: translateX(40%);
            margin-bottom: 20px;
        }
      }
      @media screen and (min-width:1000px) and (max-width:1200px){
        .user-info-left{
            width: 80%;
        }
      }